canvas{
	width: 100%;
	height: 100%;
	background: black ;
}

body, html{
	height: 100%;
	margin: 0;

}

.alert-dark{
	height: 30px;
	text-align: center;
	margin: 0;
	background: #84e1e1;
	color: white;
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	padding: 10px 0;
}
